/mobile/*~
/mobile/*.o
/mobile/*.lo
/mobile/*.lo
/mobile/*.la
/mobile/.deps
/mobile/.libs
/mobile/Makefile
/mobile/Makefile.in
/mobile/autom4te.cache/
/mobile/m4/libtool.m4
/mobile/m4/ltoptions.m4
/mobile/m4/ltsugar.m4
/mobile/m4/ltversion.m4
/mobile/m4/lt~obsolete.m4
/mobile/doc/embryo.dox
/mobile/README
/mobile/ABOUT-NLS
/mobile/aclocal.m4
/mobile/compile
/mobile/config.cache
/mobile/config.cache-env
/mobile/config.guess
/mobile/config.h
/mobile/config.h.in
/mobile/config.log
/mobile/config.status
/mobile/config.sub
/mobile/configure
/mobile/depcomp
/mobile/embryo.pc
/mobile/embryo.spec
/mobile/install-sh
/mobile/libtool
/mobile/ltmain.sh
/mobile/missing
/mobile/src/bin/embryo_cc
/mobile/stamp-h1
/mobile/doc/Doxyfile
/mobile/config.guess.cdbs-orig
/mobile/config.sub.cdbs-orig
/mobile/debian/files
/mobile/debian/*.debhelper.log
/mobile/debian/*.substvars
/mobile/debian/*.debhelper
/mobile/debian/stamp-*
/mobile/debian/tmp/
/mobile/debian/libembryo-bin/
/mobile/debian/libembryo-dbg/
/mobile/debian/libembryo-dev/
/mobile/debian/libembryo-doc/
/mobile/debian/libembryo0/
/mobile/doc/html/
/mobile/doc/latex/
/mobile/doc/man/




/wearable/*~
/wearable/*.o
/wearable/*.lo
/wearable/*.lo
/wearable/*.la
/wearable/.deps
/wearable/.libs
/wearable/Makefile
/wearable/Makefile.in
/wearable/autom4te.cache/
/wearable/m4/libtool.m4
/wearable/m4/ltoptions.m4
/wearable/m4/ltsugar.m4
/wearable/m4/ltversion.m4
/wearable/m4/lt~obsolete.m4
/wearable/doc/embryo.dox
/wearable/README
/wearable/ABOUT-NLS
/wearable/aclocal.m4
/wearable/compile
/wearable/config.cache
/wearable/config.cache-env
/wearable/config.guess
/wearable/config.h
/wearable/config.h.in
/wearable/config.log
/wearable/config.status
/wearable/config.sub
/wearable/configure
/wearable/depcomp
/wearable/embryo.pc
/wearable/embryo.spec
/wearable/install-sh
/wearable/libtool
/wearable/ltmain.sh
/wearable/missing
/wearable/src/bin/embryo_cc
/wearable/stamp-h1
/wearable/doc/Doxyfile
/wearable/config.guess.cdbs-orig
/wearable/config.sub.cdbs-orig
/wearable/debian/files
/wearable/debian/*.debhelper.log
/wearable/debian/*.substvars
/wearable/debian/*.debhelper
/wearable/debian/stamp-*
/wearable/debian/tmp/
/wearable/debian/libembryo-bin/
/wearable/debian/libembryo-dbg/
/wearable/debian/libembryo-dev/
/wearable/debian/libembryo-doc/
/wearable/debian/libembryo0/
/wearable/doc/html/
/wearable/doc/latex/
/wearable/doc/man/
